
.home{
    text-decoration: none;
    margin-left: 2cm;
    color: white
}

.login{
    text-decoration: none;
    margin-left: 2cm;
    color: white
}

.reg{
    text-decoration: none;
    margin-left: 2cm;
    color: white
}
.nna{
    background-color: black;
}
